<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devoops.oopslog.follow.query.mapper.FollowQueryMapper">

    <select id="findFolloweesByUserId" resultType="com.devoops.oopslog.follow.query.dto.FollowerResponseDto">
        SELECT
            m.id,
            m.member_id AS memberId,
            m.name
        FROM member m
                 JOIN follow f ON m.id = f.followee_id
        WHERE f.follower_id = #{userId}
    </select>

    <select id="findFollowersByUserId" resultType="com.devoops.oopslog.follow.query.dto.FollowerResponseDto">
        SELECT
            m.id,
            m.member_id AS memberId,
            m.name
        FROM member m
                 JOIN follow f ON m.id = f.follower_id
        WHERE f.followee_id = #{userId}
    </select>

    <resultMap id="FollowFeedItemMap" type="com.devoops.oopslog.follow.query.dto.FollowFeedItemDto">
        <result property="recordType" column="recordType"/>
        <result property="recordId" column="recordId"/>
        <result property="title" column="title"/>
        <result property="contentSnippet" column="contentSnippet"/>
        <result property="createDate" column="createDate" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result property="authorName" column="authorName"/>
    </resultMap>

    <select id="findFollowingFeedByUserId" resultMap="FollowFeedItemMap">
        (
            -- Ooh 피드
            SELECT
                'ooh' AS recordType,
                ooh.id AS recordId,
                ooh.title,
                LEFT(ooh.content, 100) AS contentSnippet,
                ooh.create_date AS createDate,
                m.name AS authorName
            FROM ooh_record ooh
                JOIN member m ON ooh.user_id = m.id
            WHERE ooh.user_id IN (
                SELECT followee_id FROM follow WHERE follower_id = #{userId}
                )
              AND ooh.is_deleted = 'N'
              AND ooh.is_private = 'N' -- 비공개 글 제외
        )
        UNION ALL
        (
            -- Oops 피드
            SELECT
                'oops' AS recordType,
                oops.id AS recordId,
                oops.title,
                LEFT(oops.content, 100) AS contentSnippet,
                oops.create_date AS createDate,
                m.name AS authorName
            FROM oops_record oops
                JOIN member m ON oops.user_id = m.id
            WHERE oops.user_id IN (
                SELECT followee_id FROM follow WHERE follower_id = #{userId}
                )
              AND oops.is_deleted = 'N'
              AND oops.is_private = 'N' -- 비공개 글 제외
        )
        -- 최신순으로 정렬
        ORDER BY createDate DESC
    </select>

</mapper>